## Final Project Submission

Please fill out:
* Student name: Steven Rosa
* Student pace: part time
* Project review date/time: Monday 1 April 2019 11am ET
* Instructor name: Jeff Herman
* Blog post URL:

"Database for The Scratched Voices Begging to be Heard: The Graffiti of Pompeii and Today"

by Alexa Rose

https://core.tdar.org/dataset/445837/database-for-the-scratched-voices-begging-to-be-heard-the-graffiti-of-pompeii-and-today

<a id = 'top'></a>

# Table of Contents
- Libraries and helper functions
- [A first look at the data](#obtain)
- [Cleaning the raw data](#scrub)
- [Exploratory data analysis](#explore)
- Modeling
 - [Model \#1](#model1)
 - [Model \#2](#model2)
 - [Model \#3](#model3)
- [Conclusions](#concl)

# Libraries and helper functions

In [2]:
import pandas as pd #For working with DataFrames

<a id = 'obtain'></a>

[(Back to top)](#top)

# A first look at the data

In [4]:
#Obtain the raw data
df = pd.read_csv('graffiti.csv')

In [7]:
df.head(10)

,CIL IV #,Reggio,Insula,Entrance,found?,In English,org.,Literacy (1-3),In org. language,Context type specific,...,Category,Written by,Work,Meter,Repetition,Foreign language,Image,Flohr Score,Socio-economic status,comments
0,8426,2,1,NaN,NaN,"By the holy gods of the house, I ask you to…",?,3.0,(per) lares sanctos rogo te vt,altar,...,Religious,NaN,NaN,NaN,NaN,NaN,NaN,NaN,low,NaN
1,10256c,2,1,11,NaN,UXBUCTDSERFOGPHOFMKNL,?,2.0,VXBVCTDSERFOGPHOFMKNL,column,...,Civic,NaN,NaN,NaN,NaN,NaN,NaN,23.77,medium,NaN
2,10093c,2,1,10,NaN,Brutus is a dog,?,2.0,Brv(t)vs canis est,entrance,...,Insult/Threat,NaN,NaN,NaN,NaN,NaN,NaN,8.74,low,NaN
3,10086a,2,1,10,NaN,Of arms and a man…,?,3.0,Arma virvmqve,entrance,...,Reference,Virgil,Aeneid,"Metrical, quote",NaN,NaN,NaN,8.74,low,NaN
4,10082b,2,1,10,NaN,"Saggita, the emperor's slave, the little Pompeian",Benefiel 2010a,2.0,Sagitta imperatoris servos pompeianolvs,entrance,...,Tagging,NaN,NaN,NaN,NaN,NaN,NaN,8.74,low,NaN
5,10079,2,1,6,NaN,Maximus (greets) his Irene,?,2.0,Maxim(vs) irenae sve,façade,...,Social,NaN,NaN,NaN,NaN,NaN,NaN,3.37,low,NaN
6,8480,2,1,4/5/,NaN,Arrunitis was here with Tiburtinus,?,3.0,Arrvntivs hic fvit cvm tibvrtino,façade,...,Sexual,NaN,NaN,NaN,NaN,NaN,NaN,3.44-4.52,low,NaN
7,10088b,2,1,10,NaN,It's raining,?,2.0,Plvi,garden,...,Civic,NaN,NaN,NaN,NaN,NaN,NaN,8.74,low,NaN
8,10090,2,1,10,NaN,"Petronius, you fuck Pyramus",?,2.0,ΠΕΤΡΩΝΙ ΠΥΡΑΜΟ ΠΗΔΙΚΑΣ,garden,...,Sexual,NaN,NaN,NaN,NaN,NaN,NaN,8.74,low,NaN
9,10096b,2,1,11,NaN,All fell silent…,Milnor 2009 314,3.0,Conticvre om(nes),outer wall,...,Reference,Virgil,Aeneid,"Metrical, quote",NaN,NaN,NaN,23.77,medium,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1051 entries, 0 to 1050
Data columns (total 22 columns):
CIL IV #                 1024 non-null object
Reggio                   994 non-null object
Insula                   989 non-null object
Entrance                 913 non-null object
found?                   17 non-null object
In English               1043 non-null object
org.                     279 non-null object
Literacy (1-3)           1038 non-null float64
In org. language         315 non-null object
Context type specific    705 non-null object
Context type general     751 non-null object
Famous House             503 non-null object
Category                 1027 non-null object
Written by               104 non-null object
Work                     62 non-null object
Meter                    143 non-null object
Repetition               81 non-null object
Foreign language         27 non-null object
Image                    56 non-null object
Flohr Score              582 non-null object
Socio-economic status    974 non-null object
comments                 29 non-null object
dtypes: float64(1), object(21)
memory usage: 180.7+ KB

In [9]:
df.describe()

       Literacy (1-3)
count     1038.000000
mean         2.425819
std          0.498588
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          3.000000

<a id = 'scrub'></a>

[(Back to top)](#top)

# Cleaning the data

<a id = 'explore'></a>

[(Back to top)](#top)

# Exploratory data analysis

<a id = 'model1'></a>

[(Back to top)](#top)

# Modeling: Model \#1

<a id = 'model2'></a>

[(Back to top)](#top)

# Model \#2

<a id = 'model3'></a>

[(Back to top)](#top)

# Model \#3

<a id = 'concl'></a>

[(Back to top)](#top)

# Conclusions